.open-hours,.appointment,.online-bill{
background-image: url("http://media.beam.usnews.com/e3/86/d59201054b70a68335be19c3437a/170510-doctortablet-stock.jpg");
height: 300px;
background-size: cover;
background-repeat: no-repeat;
}
.overlay{
    opacity: .6;
    height: 300px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: middle;
}
.appointment{
    background-image: url("https://ehonami.blob.core.windows.net/media/2014/10/beware-medical-test-causes-cancer.jpg");
}
.online-bill{
    background-image: url("https://media.consumeraffairs.com/files/news/Digital_health_care_concept_Jackie_Niam_Getty_Images.jpg");
}
.bg-blue{
    background-color: blue;
}
.bg-navy{
    background-color: navy;
}